@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
body {
    font-family: 'Alfa Slab One', cursive;
    background-image: url("https://n6-img-fp.akamaized.net/free-vector/abstract-geometric-pattern-background_1319-242.jpg");
}

.jumbotron {
    margin-top: 30px;
    background-color: #fff;
    border: 2px solid #ff851b;
}

.navbar {
    background-color: rgba(161, 142, 142, 0.61);
}

a {
    color: #ff851b;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}
